<%if(!user){ %>
  <div class='jumbotron bgred'>
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Hook & Needle is an online community for knitters and crocheters where you can track your projects, create inspiration boards, and see what other makers are up to.</p>
    <hr class="my-4">
    <p>Log in or sign up to start tracking your projects</p>
    <div class="jumbo-buttons">
      <a class='login-button' href="/sessions/login">Log In</a><br>
      <a class='login-button' href="/users/signup">Sign Up</a>
    </div>
  </div>
<% } %>
