<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/htmlhead.ejs %>
  </head>
  <body>
    <!-- This is the log in/ sign up page -->
    <div class="page">
      <% include ./partials/header1.ejs %>
        <a class='new-project-button' href="/sessions/login">Log In</a><br>
        <a class='new-project-button' href="/users/signup">Sign Up</a>
    </div>
  </body>
</html>
