<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/htmlhead.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ./partials/header1.ejs %>
      <a href="#">Log In</a><br>
      <a href="#">Sign Up</a>
    </div>
  </body>
</html>
