body {
  margin: 0 auto;
  justify-content: center;
  font-family: 'Heebo', sans-serif;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.heading {
  width: 100%;
  background-image: url('https://images.pexels.com/photos/1487703/pexels-photo-1487703.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-size: cover;
  height: 250px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-sm {
  width: 100%;
  background: #E09F3E;
  color: #FCF4F2;
  padding-top: 1em;
  padding-left: 1em;
  font-family: 'Heebo', sans-serif;
  font-weight: 800;
}

.main-header-text {
  font-size: 3em;
}

.header-text {
  margin: 0;
  padding: 1em;
  /* padding-top: 1.5em; */
  font-family: 'Heebo', sans-serif;
  font-size: 2em;
  color: #FCF4F2;
  text-align: center;
  /* background-color: rgba(163, 119, 116, 0.2); */
  /* background-color: rgba(252, 244, 242, 0.2) */
}

.header-text * {
  margin: 0 auto;
  padding: 0;
  line-height: 1em;
  text-shadow: 0 0 5px #484A47;
}

.bgred {
  background-color: #456A74;
  color: #FFFCF0
}

.jumbo-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.login-button {
  width: 200px;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  background: #E09F3E;
  color: #FFFCF0;
  text-decoration: none;
  padding: .5em;
  font-size: 1.3em;
}

.login-button:hover {
  text-decoration: none;
  color: #E09F3E;
  background-color: #FFFCF0;
  box-shadow: 1px 1px #888888;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 2em;
  width: 100%;
}

.new-project-button {
  width: 200px;
  align-items: center;
  text-align: center;
  margin-right: 40%;
  margin-left: 40%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 3px;
  background: #E09F3E;
  color: #FFFCF0;
  text-decoration: none;
  padding: .5em;
  font-size: 1.3em;
}

.new-project-button:hover {
  text-decoration: none;
  color: #E09F3E;
  background-color: #FFFCF0;
  box-shadow: 1px 1px #888888;
}

.project-display {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
  padding: 1em;
  width: 30%;
  max-height: 500px;
  min-width: 300px;
}

.project-display img {
  min-width: 50%;
  max-width: 100%;
  max-height: 400px;
}

.project-display p {
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.show-body {
  display: block;
  padding-top: 1em;
}

.show-body > a {
  padding-left: 1em;
}

.show-item-details {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-photo-show {
  width: 100%;
}

.item-text-details {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.link {
  color: #456A74;
}

.link:hover {
  color: #456A74;
}

.page-heading-text {
  color: #456A74;
  font-weight: bold;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
}

.edit-body {
  margin-left: 3em;
  margin-top: 2em;
  width: 400px;
  /* border: 1px solid black; */
  /* justify-content: space-between; */
}

.edit-body h1 {
  color: #456A74;
  font-weight: bold;
  padding-left: .3em;
  margin-top: .4em;
}

.edit-body form {
  margin-bottom: 2em;
  max-width: 300px;
}

.edit-item-form {
  padding-bottom: 1em;
  padding-left: 1em;
  border-left: 1px solid #540B0E;
}

.edit-body form * {
  margin-bottom: 1em;
}

.edit-item-form input[type=submit] {
  background-color: #E09F3E;
  color: #FFFCF0
}

.edit-item-form input[type=submit]:hover {
  background-color: #FFFCF0;
  color: #E09F3E
}

#delete-project-button {
  background-color: #540B0E;
  color: white;
  padding: .4em;
  border-radius: 3px;
}

.navbg {
  background: rgb(211, 152, 69);
}

.header1 {
  text-align: center;
}

/* PROFILE PAGE */
.user-info {
  width: 100%;
}

.user-info * {
  text-align: center;
}

.users-projects {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2em;
}

.users-projects h1 {
  width: 100%;
}

.show-projects {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pre-footer {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.pre-footer input[type=submit]{
  background: #540B0E;
  color: white;
}

.pre-footer input[type=submit]:hover{
  background: white;
  color: #540B0E;
}

footer {
  border-top: 1px solid black;
  text-align: center;
  margin-top: 2em;
}

footer p {
  margin: 0;
}
