<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/htmlhead.ejs %>
  </head>
  <body>
    <div class="container">
    <% include ../partials/header.ejs %>
      <a class='new-project-button' href="/projects/new">New Project</a>
      <% for(let i = 0; i < projects.length; i++){ %>
        <div class='project-display'>
          <a href="/projects/<%=projects[i].id%>">
          <img src="<%=projects[i].photo%>">
          <%=projects[i].name%>
        </a></div>
      <% } %>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
