<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Welcome to the Projects Page!
    <% for(let i = 0; i < projects.length; i++){ %>
      <div class='project-display'>
        <img src="<%=projects[i].photo%>">
        <%=projects[i].name%>
      </div>
    <% } %>
  </body>
</html>
