<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to the Projects Page!</h1>
    <a href="/projects/new">New Project</a>
    <% for(let i = 0; i < projects.length; i++){ %>
      <a href="/projects/<%=projects[i].id%>">
      <div class='project-display'>
        <img src="<%=projects[i].photo%>">
        <%=projects[i].name%>
      </div></a>
    <% } %>
  </body>
</html>
