<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<% include ../partials/htmlhead.ejs %>
  </head>
  <body>
    <% include ../partials/header2.ejs %>
    <div class="edit-body">
      <h1>New Project</h1>
      <form class='edit-item-form' action="/projects" method="post">
        Name: <input type="text" name="name" /><br>
        Image URL: <input type="text" name="photo" /><br>
        Status: <input type="text" name="status" placeholder="to do, current, done"/><br>
        Link to Pattern: <input type="text" name="pattern" /><br>
        Link to Yarn: <input type="text" name="yarn" /><br>
        Due Date (optional): <input type="text" name="due" /><br>
        <input type="submit" value="Submit New Item">
      </form>
      <a class='link' href="/projects">< Back to Home</a>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
