<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<% include ../partials/htmlhead.ejs %>
  </head>
  <body>
    <!-- Nav bar changes based on current page, can't use partial -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top navbg">
      <a class="navbar-brand" href="#">Hook & Needle</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/projects">Your Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects/all">Browse</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/projects/new">New Project<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/<%=user%>">Profile</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End of nav bar -->
    <div class="edit-body">
      <h1 class='h1'>New Project</h1>
      <form class='edit-item-form' action="/projects" method="post">
        Name: <input type="text" name="name" /><br>
        Image URL: <input type="text" name="photo" /><br>
        Status: <input type="text" name="status" placeholder="to do, current, done"/><br>
        Link to Pattern: <input type="text" name="pattern" /><br>
        Link to Yarn: <input type="text" name="yarn" /><br>
        Due Date (optional): <input type="text" name="due" /><br>
        <input type="submit" value="Submit New Item">
      </form>
      <a class='link' href="/projects">< Back to Home</a>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
