<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    New Project!
    <form action="/projects" method="post">
      Name: <input type="text" name="name" /><br>
      Image URL: <input type="text" name="photo" /><br>
      Status: <input type="text" name="status" placeholder="to do, current, done"/><br>
      Link to Pattern: <input type="text" name="pattern" /><br>
      Link to Yarn: <input type="text" name="yarn" /><br>
      Due Date (optional): <input type="text" name="due" /><br>
      <input type="submit" value="Submit New Item">
    </form>
    <a href="/projects">Back to Home</a>
    <% include ../partials/footer.ejs %>
  </body>
</html>
