<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Individual Project View Site</h1>
    <img src="<%=project.photo%>">
    <a href="/projects/<%=project.id%>/edit">Edit Project</a>
    <a href="/projects">Back to All Projects</a>
  </body>
</html>
