<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/htmlhead.ejs %>
  </head>
  <body>
    <!-- Nav bar changes based on current page, can't use partial -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top navbg">
      <a class="navbar-brand" href="/projects/all">Hook & Needle</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/projects">Your Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects/all">Browse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects/new">New Project</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Profile<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End of nav bar -->
      <div class="edit-body">
        <h1>Sign Up</h1>
        <div class="form-div">
          <form class='edit-item-form' action="/users" method="POST">
              First Name: <input type="text" name="firstName" /><br>
              Last Name: <input type="text" name="lastName" /><br>
              Email: <input type="text" name="email" /><br>
              Username: <input type="text" name="username" /><br>
              Password: <input type="password" name="password" /><br>
              <input type="submit" value="Sign Up">
          </form>
        </div>
      </div>
  </body>
</html>
