<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/htmlhead.ejs %>
  </head>
  <body>
      <% include ../partials/header1.ejs %>
      <div class="edit-body">
        <h1>Sign Up</h1>
        <form class='edit-item-form' action="/users" method="POST">
            First Name: <input type="text" name="firstName" /><br>
            Last Name: <input type="text" name="lastName" /><br>
            Email: <input type="text" name="email" /><br>
            Username: <input type="text" name="username" /><br>
            Password: <input type="password" name="password" /><br>
            <input type="submit" value="Sign Up">
        </form>
      </div>
  </body>
</html>
